In [1]:
# !pip install pandas matplotlib bar_chart_race

import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import bar_chart_race as bcr

In [2]:
data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv", index_col="")
# data = pd.read_csv("owid-covid-data.csv")

In [3]:
pd.set_option('display.max_columns', len(data.columns))
pd.set_option('display.max_row', len(data.loc[:]))

In [12]:
data.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,18.733,18.733,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,NaN,NaN,2.676,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.33,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,37.465,18.733,2.676,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.33,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,NaN,NaN,2.676,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,NaN,NaN,2.676,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [6]:
# check the missing val in the dataset

# get the number of missing data points per column
missing_values_count = data.isnull().sum()

# how many total missing values do we have?
total_cells = np.product(data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 10
print(percent_missing)

# in this case, the missing val was not available
# by looking at the missing val attributes

2.1125084644965906

In [ ]:
# handling missing val
# by filling 'NaN' with 0
data.fillna(0)

In [7]:
df = bcr.load_dataset('covid19_tutorial')

In [8]:
df.head(10)

,Belgium,China,France,Germany,Iran,Italy,Netherlands,Spain,USA,United Kingdom
date,,,,,,,,,,
2020-04-03,1143,3326,6520,1275,3294,14681,1490,11198,7418,3611
2020-04-04,1283,3330,7574,1444,3452,15362,1656,11947,8387,4320
2020-04-05,1447,3333,8093,1584,3603,15887,1771,12641,9489,4943
2020-04-06,1632,3335,8926,1810,3739,16523,1874,13341,10783,5385
2020-04-07,2035,3335,10343,2016,3872,17127,2108,14045,12798,6171
2020-04-08,2240,3337,10887,2349,3993,17669,2255,14792,14704,7111
2020-04-09,2523,3339,12228,2607,4110,18279,2403,15447,16553,7993
2020-04-10,3019,3340,13215,2767,4232,18849,2520,16081,18595,8974
2020-04-11,3346,3343,13851,2894,4357,19468,2653,16606,20471,9892
2020-04-12,3600,3343,14412,3022,4474,19899,2747,17209,22032,10629

In [ ]:
country_list = data["location"].unique()
date_list = data["date"].unique()

In [9]:
date_grp = data.groupby(["date"]).sum().reset_index()
date_grp.head(5)

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,2019-12-31,54.0,54.0,0.0,0.0,0.0,0.0,0.022,0.022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1.364262e+10,39277.478,2345.6,774.066,510.351,2070610.055,103.8,14482.774,518.88,773.934,1992.435,1458.669,240.887,5207.59,51.35
1,2020-01-01,54.0,0.0,0.0,0.0,0.0,0.0,0.022,0.000,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,2.78,1.364262e+10,39277.478,2345.6,774.066,510.351,2070610.055,103.8,14482.774,518.88,773.934,1992.435,1458.669,240.887,5207.59,51.35
2,2020-01-02,54.0,0.0,0.0,0.0,0.0,0.0,0.022,0.000,0.0,0.0,0.0,0.0,16.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,22.22,1.364262e+10,39277.478,2345.6,774.066,510.351,2070610.055,103.8,14482.774,518.88,773.934,1992.435,1458.669,240.887,5207.59,51.35
3,2020-01-03,88.0,34.0,0.0,0.0,0.0,0.0,0.037,0.014,0.0,0.0,0.0,0.0,18.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,1.364262e+10,39277.478,2345.6,774.066,510.351,2070610.055,103.8,14482.774,518.88,773.934,1992.435,1458.669,240.887,5207.59,51.35
4,2020-01-04,88.0,0.0,0.0,0.0,0.0,0.0,0.037,0.000,0.0,0.0,0.0,0.0,6.0,44.0,0.0,0.0,0.0,0.0,0.0,0.0,27.78,1.364262e+10,39277.478,2345.6,774.066,510.351,2070610.055,103.8,14482.774,518.88,773.934,1992.435,1458.669,240.887,5207.59,51.35

In [11]:
temp = data.groupby(["location"])
temp.set_index("location")

AttributeError: 'DataFrameGroupBy' object has no attribute 'set_index'

In [ ]:
country_grp.head(5)

In [ ]:
country_grp = country_grp.sort_values("total_cases", ascending=False)

In [ ]:
country_grp